quickfix==1.15.1
confluent-kafka==2.3.0
structlog==24.1.0
prometheus-client==0.19.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-instrumentation==0.43b0
pydantic>=2.0
